.outer {
    position: relative;
    z-index: 2;
    padding: 1rem 0rem;
    border-bottom: 1px solid var(--color-border-dark);
    background: var(--color-dark-light);
    @media screen and (max-width: 550px) {
        padding: 1rem 0rem;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0rem 4rem;
    @media screen and (min-width: 1500px) {
        margin: auto;
        width: 1500px;
    }
    @media screen and (max-width: 850px) {
        flex-direction: column;
        gap: 1rem;
    }
    @media screen and (max-width: 768px) {
        padding: 0rem 1.2rem;
    }
    @media screen and (max-width: 400px) {
        padding: 0rem 0.4rem;
    }

    a,
    svg {
        color: var(--color-gray-100);
    }
}

.support {
    &:hover {
        svg,
        a {
            color: var(--color-primary);
        }
    }
    a {
        display: flex;
        align-items: center;
        gap: 0.1rem;
        font-size: 1.1rem;
        transition: color 200ms ease-in-out;
        cursor: pointer;
    }
    svg {
        font-size: 1.1rem;
        transition: color 200ms ease-in-out;
    }
}

.contact {
    display: flex;
    gap: 0.5rem;
    @media screen and (max-width: 640px) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.8rem;
    }
    .location,
    .phone {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.1rem;
        transition: color 200ms ease;
        padding: 0 0.7rem;
        border-right: 1.5px solid var(--color-border-dark);
        span {
            transition: color 200ms ease-in-out;
            color: var(--color-gray-100);
        }
    }

    .phone {
        cursor: pointer;
        &:hover {
            span {
                color: var(--color-primary);
            }
        }
    }

    .socials {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        a {
            display: flex;
            &:hover {
                svg {
                    color: var(--color-primary);
                }
            }
        }
        svg {
            font-size: 1.2rem;
            transition: color 200ms ease-in-out;
        }
    }
}
